@keyframes moving-gradient {
    0% {
        background-position: -250px 0;
    }

    100% {
        background-position: 250px 0;
    }
}

.loader-template {
    width: 100%;
}

.loader-template tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 65px;
}

.loader-template tr td {
    height: 50px;
    vertical-align: middle;
    padding: 8px;
}

.loader-template tr td span {
    display: block;
}

.loader-template tr td.td-1 {
    width: 20px;
}

.loader-template tr td.td-1 span {
    width: 20px;
    height: 20px;
}

.loader-template tr td.td-2 {
    width: 50px;
}

.loader-template tr td.td-2 span {
    background-color: rgba(0, 0, 0, 0.15);
    width: 50px;
    height: 50px;
}

.loader-template tr td.td-3 {
    width: 400px;
}

.loader-template tr td.td-3 span {
    height: 12px;
    background: linear-gradient(to right, #eeeeee 20%, #dddddd 50%, #eeeeee 80%);
    background-size: 500px 100px;
    animation-name: moving-gradient;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    width: calc(100% - 200px);
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
}

.loader-template tr td .td-5 {
    width: 110px;
    display: inline-block
}

.loader-template tr td .td-5 span {
    background-color: rgb(195 195 195 / 15%);
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 2.5px;
}


.modal-content {
    animation-name: popUp;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.collapse.show {
    animation-name: slideDown;
    animation-duration: 0.24s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes popUp {
    0% {
        opacity: 0.4;
        transform: scale(0.65);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideDown {
    0% {
        right: -90%;
        overflow: hidden;
    }

    100% {
        right: 0px;
        width: 90%;
    }
}

/* maiin bage loader */

.loading {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    height: 115px;
    width: 142px;
    margin-top: -50px;
    margin-left: -70px;
    border-left: 2px solid #404040;
    border-bottom: 2px solid #404040;
    padding: 10px;
    box-sizing: border-box;
}

@keyframes loading {
    0% {
        background-color: #d0d0d0;
    }

    30% {
        background-color: #d0d0d0;
    }

    50% {
        height: 100px;
        margin-top: 0px;
    }

    80% {
        background-color: #d0d0d0;
    }

    100% {
        background-color: #d0d0d0;
    }
}

/*@-moz-keyframes loading {
  50% { height: 100px; margin-top: 0px; }
}
@-o-keyframes loading {
  50% { height: 100px; margin-top: 0px; }
}
@keyframes loading {
  50% { height: 100px; margin-top: 0px; }
}*/
.loading .loading-1 {
    margin-left: 10px;
    height: 10px;
    width: 20px;
    background-color: #fff;
    display: inline-block;
    margin-top: 90px;
    -webkit-animation: loading 2.5s infinite;
    -moz-animation: loading 2.5s infinite;
    -o-animation: loading 2.5s infinite;
    animation: loading 2.5s infinite;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.loading .loading-2 {
    margin-left: 10px;
    height: 10px;
    width: 20px;
    background-color: #fff;
    display: inline-block;
    margin-top: 90px;
    -webkit-animation: loading 2.5s infinite;
    -moz-animation: loading 2.5s infinite;
    -o-animation: loading 2.5s infinite;
    animation: loading 2.5s infinite;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.loading .loading-3 {
    margin-left: 10px;
    height: 10px;
    width: 20px;
    background-color: #fff;
    display: inline-block;
    margin-top: 90px;
    -webkit-animation: loading 2.5s infinite;
    -moz-animation: loading 2.5s infinite;
    -o-animation: loading 2.5s infinite;
    animation: loading 2.5s infinite;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.loading .loading-4 {
    margin-left: 10px;
    height: 10px;
    width: 20px;
    background-color: #fff;
    display: inline-block;
    margin-top: 90px;
    -webkit-animation: loading 2.5s infinite;
    -moz-animation: loading 2.5s infinite;
    -o-animation: loading 2.5s infinite;
    animation: loading 2.5s infinite;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.loading .loading-5 {
    height: 10px;
    width: 20px;
    background-color: #fff;
    display: inline-block;
    margin-top: 90px;
    -webkit-animation: loading 2.5s infinite;
    -moz-animation: loading 2.5s infinite;
    -o-animation: loading 2.5s infinite;
    animation: loading 2.5s infinite;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

.loading .loading-6 {
    margin-left: 10px;
    height: 10px;
    width: 20px;
    background-color: #fff;
    display: inline-block;
    margin-top: 90px;
    -webkit-animation: loading 2.5s infinite;
    -moz-animation: loading 2.5s infinite;
    -o-animation: loading 2.5s infinite;
    animation: loading 2.5s infinite;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.loading .loading-7 {
    margin-left: 10px;
    height: 10px;
    width: 20px;
    background-color: #fff;
    display: inline-block;
    margin-top: 90px;
    -webkit-animation: loading 2.5s infinite;
    -moz-animation: loading 2.5s infinite;
    -o-animation: loading 2.5s infinite;
    animation: loading 2.5s infinite;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s;
}

.loading .loading-8 {
    margin-left: 10px;
    height: 10px;
    width: 20px;
    background-color: #fff;
    display: inline-block;
    margin-top: 90px;
    -webkit-animation: loading 2.5s infinite;
    -moz-animation: loading 2.5s infinite;
    -o-animation: loading 2.5s infinite;
    animation: loading 2.5s infinite;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.loading .loading-9 {
    margin-left: 10px;
    height: 10px;
    width: 20px;
    background-color: #fff;
    display: inline-block;
    margin-top: 90px;
    -webkit-animation: loading 2.5s infinite;
    -moz-animation: loading 2.5s infinite;
    -o-animation: loading 2.5s infinite;
    animation: loading 2.5s infinite;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-animation-delay: 2.25s;
    animation-delay: 2.25s;
}

.loading .loading-10 {
    margin-left: 10px;
    height: 10px;
    width: 20px;
    background-color: #fff;
    display: inline-block;
    margin-top: 90px;
    -webkit-animation: loading 2.5s infinite;
    -moz-animation: loading 2.5s infinite;
    -o-animation: loading 2.5s infinite;
    animation: loading 2.5s infinite;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.loading-container {
    height: 250px;
    width: 250px;
    background: #ececec;
    border-radius: 50%;
    margin: 10px auto;
    margin-bottom: 15px;
    margin-top: 100px;
}
.chart-loading p {
    font-weight: 600;
    font-size: 23px;
    color: #505050;
}
.chart-loading {
    height: calc(100vh - 200px);
}
.chart-loading h5{
        font-size: 16px;
    color: #505050;
    font-weight: 500;
}
@keyframes fading {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.loading-s1{
    animation: fading 3s infinite;
}
.loading-s2{
    animation: fading 3s infinite;
    animation-delay: 1s;
}
.loading-s3{
    animation: fading 3s infinite;
    animation-delay: 2s;
}
.sm-j{
    font-size: 36px;
    line-height: 0;
}
