@media (max-width: 775px)
{
    /* shahd edit */

    /* end shahd edit */
    .navbar.navbar-expand-md.nav-padding {
        display: none !important;
    }

    /*صفحة العملاء */
    .index-table .table-responsive {
        overflow-y: hidden;
        overflow: visible;
    }
    .index-table thead, .index-table .col-md-4 .card-header {
        display: none
    }

    .index-header{
        display: block !important;
        text-align: left;
    }

   .index-header .ml-auto{
        text-align: right;
   }

    .card.index-table .col-md-8, .card.index-table .col-md-12{
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .btn.btn-outline-primary.add-btn.ml-3{
        border: none;
        font-size: 14px;
    }

    .index-table .btn.add-btn{
        border-radius: 12.4rem;
        position: fixed;
        right: 10px;
        bottom: 10px;
        z-index: 999;
        height: 50px;
        width: 50px;
        background: #20586f;
        color: white;
    }

    .index-table .btn.add-btn i {
        font-size: 25px;
        line-height: 1.75em;
        font-weight: 300;
    }

    .index-table {
        background: transparent;
        border: none;
        box-shadow: none;
    }    

    .index-table .card-header { 
        background: #DFE7F4;
        border-radius: 50px;
        height: 40px;
    }
      
    .index-table table {
        display: block !important;
    }

    .index-table tbody {
        display: block !important;
    }

    .index-table tr {
        display: block !important;
        background: white;
        box-shadow: 0px 4px 10px #E6EFFC;
        border-radius: 6px;
        margin-bottom: 15px;
        position: relative;
    }

    .index-table td {
        display: inline-block!important;
        border: none;
    }

    .index-table td:first-of-type, .index-table td:last-of-type {
        display: block!important;
        width: 100%;
    }

    .index-table td:first-of-type a{
        color: #011729;
        font-weight: 700;
        font-size: 16px;
    } 

    .index-table td.d-m-none{
        display: none !important;
     }

     .index-table tr:after {
        content: "\f078";
        font-family: "Font Awesome 5 Pro";
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        left: 15px;
        top: calc(50% - 14.5px);
        color: #023D6D;
        transform: rotate(90deg);
        transition: all 0.3s ease-in;

   }
    .index-table td {
        transition: all 0.3s ease-in;
        padding: 5px 10px;
    }

    .index-table tr{
        padding: 15px;
        padding-left: 30px;
    }

    .index-table tbody td:last-of-type{
        height: 0px;
        padding: 0px;
        overflow: hidden;
        transition: all 0.3s ease-in;
        padding-right: 10px !important;
    }

    .index-table .empty-tbody .empty-table{
        height: auto !important;
        padding: 0 !important;
        padding-top: 20px !important;
        background-color: white;
    }

    .index-table tr.empty-tbody{
        padding: 0;
    }

    .index-table tr.empty-tbody::after{
        display: none;
    }

    .index-table .active td:last-of-type{
        height: 45px;
        padding: 6px;
        padding-right: 10px !important;
        overflow: visible;
    }
    .report-container .report-show {
        left: unset;
        right: 40px;
        width: 153px;
        text-align: right;
    }
    .report-container .report-show a {
        display: block;
    }
    .report-container .report-show::after {
        left: unset;
        right: -20px;
        border-color: transparent transparent transparent #a3a5a7;
    }

    .index-table .active:after{
        transform: rotate(1deg);
    }
    
    .index-table tbody tr:hover {
        background: white !important;
    }
    
    .index-table td:first-of-type{
        padding-bottom: 0px;
        padding-top: 10px;
        
    }
    .index-table .mobile-title{
        display: block;
        font-size: 12px;
   }

   .index-table .mobile-title i{
        width: 20px;
   }
   
   .card-header .input-group-prepend i{
       color: #011729;
   }

      
    /*  صفحة  عرض العميل*/
    .show-header {
        background: transparent;
        box-shadow: none;
        border: none;
    }

    .show-header .row.align-items-center{
        display: block;
        text-align: center;
    }

    .show-header  .mb-1{
        margin: 8px !important;
    }

    .show-header .small.mb-0{
        margin-bottom: 14px !important;
    }

    .show-header .avatar-img.rounded.empty-avatar{
        border-radius: 35px !important;
    }

    .show-header .btn.btn-sm.btn-primary{
        color: #023D6D;
        background-color: #E6EFFC;
        border-color: #E6EFFC;
    }

    .card.show-header .small.text-muted.mb-0{
        display: none;
    }

    .card.show-header  .card-body{
        padding-bottom: 0;
    }

    .show-card .card-header{
        height: 56px;
        background: #FFFFFF;
        box-shadow: 0px 10px 10px #f3f5f8;
        border-radius: 6px !important;
    }

    .show-card .card-body .row .col-sm-6:first-of-type .list-group-item:last-of-type {
        margin-bottom: 20px;
    }

    .show-card .card-body .row .col-sm-6:first-of-type .list-group-item:last-of-type::before {
        content: "";
        position: absolute;
        top: 1rem;
        right: 1.25rem;
        left: auto;
        height: 100%;
        border-left: 1px solid #e3ebf6;
    }

   .show-card .card-header:before{
        content: "\f137";
        font-family: "Font Awesome 5 Pro";
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        left: 20px;
        transition: all 0.3s ease-in;
   }

   .show-card .card-body{
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
        padding-bottom: 0;
        padding-top: 0px;
   }

   .show-card.active .card-body{
        max-height: 500px;
        padding-bottom: 16px;
        padding-top: 16px;
   }

   .show-card.active .card-header:before {
        transform: rotate(-90deg);
        color: #b1c2d9;
   }

   /*فواتير البيع */

   .card-header .form-control{
        background: transparent;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        padding: 0;
        height: 100%;

   } 
     
   .index-iner-table thead {
    display: none;
   }

   .index-iner-table .mobile-title {
    display: block;
    font-size: 12px;
   }
    
   .index-iner-table table {
    display: block !important;
    }

    .index-iner-table tbody {
        display: block !important;
    }

    .index-iner-table tr {
        display: block !important;
        position: relative;
        border-bottom: 1px solid #E6EFFC;
    }

    .index-iner-table td {
        display: inline-block!important;
        border: none;
    }

    .index-iner-table td:first-of-type, .index-iner-table td:last-of-type {
        display: block!important;
        width: 100%;
    }

    .index-iner-table td:first-of-type a{
        color: #011729;
        font-weight: 700;
        font-size: 16px;
    } 

    .index-iner-table td.d-m-none{
        display: none !important;
    }

    .index-iner-table tr:after {
        content: "\f078";
        font-family: "Font Awesome 5 Pro";
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        left: 15px;
        top: calc(50% - 14.5px);
        color: #023D6D;
        transform: rotate(90deg);
        transition: all 0.3s ease-in;

    }
    .index-iner-table td {
        transition: all 0.3s ease-in;
        padding: 5px 10px;
    }

    .index-iner-table tr{
        padding: 15px;
        padding-left: 30px;
    }

    .index-iner-table tbody td:last-of-type{
        height: 0px;
        padding: 0px;
        overflow: hidden;
        transition: all 0.3s ease-in;
        padding-right: 10px !important;
    }

    .index-iner-table .active td:last-of-type{
        height: 45px;
        padding: 6px;
        padding-right: 10px !important;
    }

    .index-iner-table .active:after{
        transform: rotate(1deg);
    }

    .index-iner-table .empty-tbody .empty-table{
        height: auto !important;
        padding: 0 !important;
        padding-top: 20px !important;
        background-color: white;
    }

    .index-iner-table tr.empty-tbody{
        padding: 0;
    }

    .index-iner-table tr.empty-tbody::after{
        display: none;
    }

    .index-iner-table .empty-tbody .empty-table p{
        font-size: 15px;
    }

    .show-iner-contacts thead{
        display: none;
    }
    .show-iner-contacts .btn-info{
        background-color:  #034072;
        border-color: none;
    }

    .index-table .card {
        background: transparent;
        box-shadow: none;
    }
    .table tbody td, .table tbody th, .table thead th {
        text-align: right;
    }

    .index-table .active td:last-of-type {
        height: auto !important;
    }

    .table-responsive .dropdown-menu {
        position: revert;
        float: none;
        box-shadow: none;
        width: 100%;
        height: auto;
        display: block;
        border: none;
        border-top: 1px solid #e7e6e6;
        border-radius: 0px;
    }
    .dropdown  [type="button"] {
        display: none;
    }
    .report-container .report-show {
        left: 0px;
        right: unset;
    }
    .search-sidebar-style, .sidebar-user-flex {
        display: none !important;
    }
    .main-content {
        padding-top: 60px;
    }
} 
.box-table .table-responsive {
    overflow-y: hidden;
    overflow: visible;
}
.box-table thead, .box-table .col-md-4 .card-header {
    display: none
}

.box-table .index-header{
    display: block !important;
    text-align: left;
}

.box-table .index-header .ml-auto{
    text-align: right;
}

.card.box-table .col-md-8, .card.box-table .col-md-12{
    margin-bottom: 20px;
    margin-top: 10px;
}

.box-table .btn.btn-outline-primary.add-btn.ml-3{
    border: none;
    font-size: 14px;
}

.box-table .btn.add-btn{
    border-radius: 12.4rem;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;
    height: 50px;
    width: 50px;
    background: #20586f;
    color: white;
}

.box-table .btn.add-btn i {
    font-size: 25px;
    line-height: 1.75em;
    font-weight: 300;
}

.box-table {
    background: transparent;
    border: none;
    box-shadow: none;
}    

.box-table table {
    display: block !important;
}

.box-table tbody {
    display: block !important;
}

.box-table tr {
    display: block !important;
    background: white;
    box-shadow: 0px 4px 10px #E6EFFC;
    border-radius: 6px;
    margin-bottom: 15px;
    position: relative;
}

.box-table td {
    display: inline-block!important;
    border: none;
}

.box-table td:first-of-type, .box-table td:last-of-type {
    display: block!important;
    width: 100%;
}

.box-table td:first-of-type a{
    color: #011729;
    font-weight: 700;
    font-size: 16px;
} 

.box-table td.d-m-none{
    display: none !important;
 }

 .box-table tr:after {
    content: "\f078";
    font-family: "Font Awesome 5 Pro";
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    left: 15px;
    top: calc(50% - 14.5px);
    color: #023D6D;
    transform: rotate(90deg);
    transition: all 0.3s ease-in;

}
.box-table td {
    transition: all 0.3s ease-in;
    padding: 5px 10px;
}

.box-table tr{
    padding: 15px;
    padding-left: 30px;
}

.box-table tbody td:last-of-type{
    height: 0px;
    padding: 0px;
    overflow: hidden;
    transition: all 0.3s ease-in;
    padding-right: 10px !important;
}

.box-table .empty-tbody .empty-table{
    height: auto !important;
    padding: 0 !important;
    padding-top: 20px !important;
    background-color: white;
}

.box-table tr.empty-tbody{
    padding: 0;
}

.box-table tr.empty-tbody::after{
    display: none;
}

.box-table .active td:last-of-type{
    height: 45px;
    padding: 6px;
    padding-right: 10px !important;
    overflow: visible;
}
.report-container .report-show {
    left: unset;
    right: 40px;
    width: 153px;
    text-align: right;
}
.report-container .report-show a {
    display: block;
}
.report-container .report-show::after {
    left: unset;
    right: -20px;
    border-color: transparent transparent transparent #a3a5a7;
}

.box-table .active:after{
    transform: rotate(1deg);
}

.box-table tbody tr:hover {
    background: white !important;
}

.box-table td:first-of-type{
    padding-bottom: 0px;
    padding-top: 10px;
    
}
.box-table .mobile-title{
    display: block;
    font-size: 12px;
}

.box-table .mobile-title i{
    width: 20px;
}

.box-table .card-header .input-group-prepend i{
   color: #011729;
}

  
/*  صفحة  عرض العميل*/


.box-table .card {
    background: transparent;
    box-shadow: none;
}
.box-table .table tbody td, .box-table .table tbody th, .box-table .table thead th {
    text-align: right;
}

.box-table .active td:last-of-type {
    height: auto !important;
}

.box-table .table-responsive .dropdown-menu {
    position: revert;
    float: none;
    box-shadow: none;
    width: 100%;
    height: auto;
    display: block;
    border: none;
    border-top: 1px solid #e7e6e6;
    border-radius: 0px;
}
.box-table .dropdown  [type="button"] {
    display: none;
}
