/*sidebar*/
.nav.nav-sm.flex-column{
margin-right: 35px;
border-right: 1px solid rgba(255, 255, 255, 0.6);
}
.navbar-divider.my-3{
    border: 1px solid rgba(255, 255, 255, 0.33);
}

.far.fa-chevron-double-right{
    color: white;
    margin: 10px 0;
    
}
.form-group.has-search {
    position: relative;
    visibility: hidden;
}
.navbar-vertical.navbar-expand-md.fixed-left:hover .form-group.has-search {
    visibility: visible;
}
.fa.fa-search.form-control-feedback {
    position: relative;
    top: 29px;
    right: 11px;
    color: #000000;
}
.form-control.form-control-sm::placeholder{
    color: #011729;
    font-size: 12px;
    font-weight: 500;
}
.search-sidebar-style.form-control {
    padding-right: 25px;
}
.search-sidebar-style.form-control.form-control-sm{
    width: auto;
}
.search-sidebar-style.form-group.has-search a:hover {
    background-color: #f1f3f4;
    width: auto;
}
.search-sidebar-style.has-search .form-control:focus {
    background: #E6EFFC;
}
.search-sidebar-style .ul-search {
    position: absolute;
    background: white;
    color: black;
    list-style: none;
    padding: 0px;
    border-radius: 0px 0px 5px 5px;
    min-width: 100%;
    box-shadow: 0 0 10px #00000014;
}
.search-sidebar-style .li-search {
    width: 100%;
    color: black !important;
    padding: 0px !important;
    border-bottom: 1px solid #c5c5c5;
}
.search-sidebar-style .li-search a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    padding: 10px 9px;
    width: 100%;
}
.navbar-brand{
    background: rgba(1, 23, 41, 0.4) ;
}
.search-sidebar-style .form-control.form-control-sm {
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 10px 26px;
    padding-right: 30px;
    height: 35px;
    background: #E6EFFC;
}
.search-sidebar-style .form-control.form-control-sm.active  {
    background: transparent;
}

.navbar-light .navbar-nav .nav-link.router-link-exact-active {
    background: transparent;
    color:white;
    font-weight: 700;
}

.navbar-vertical.navbar-expand-md.fixed-left:hover .nav-link.router-link-exact-active.active i{
    color: #FFFFFF;
}

.navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link{
    font-size: 16px !important;
    padding-right: 25px;
}
.navbar-light .navbar-nav .nav-link.router-link-exact-active:hover, .navbar-light .navbar-nav .nav-link.router-link-exact-active:focus {
    color: white;
    background: transparent;
}
.btn-overview{
    background: white;
    height: 200px;
    box-shadow: 0px 4px 20px rgba(230, 239, 252, 0.62);
    border-radius: 8px;
    padding: 49px 7px 29px 7px;
    text-align: center;
    margin-bottom: 20px;
}

.title-overview{
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #011729;
    padding-top: 5px;
}
.p-overview{
    text-align: center;
    font-size: 13px;
    color: #86A9DD;
    font-weight: 500;
}
.icon-report{
    color: #86A9DD;
    font-size: 26px;

}
.btn-overview:hover {
    border: solid 1px #b6d3eb;
}
.navbar-vertical.navbar-expand-md.fixed-left:hover .navbar-nav .nav-link{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}
.navbar-vertical.navbar-expand-md.fixed-left:hover .navbar-nav i{
    color: #8197A8;
}
.nav-link[aria-expanded="true"] {
    font-weight: 700 !important;
}
.nav-link[aria-expanded="true"] i {
    color: white !important;
}
.navbar-nav .nav-link > .far {
    margin-left: 8px;
    font-size: 20px !important;
}

@media (min-width: 768px) {
    .navbar-vertical.navbar-expand-md {
        padding-right: 0 ;
        padding-left: 0;
        padding-bottom: 0;
    }
    .navbar-vertical.navbar-expand-md .container-fluid {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    .navbar-vertical.navbar-expand-md > [class*="container"] {
        min-height: calc(100% - 70px);
    }
    .navbar-light .navbar-nav .nav-link.router-link-exact-active:hover .sidebar-user-flex {
        padding: 10px 1.5em;
    }
}
.sidebar-user {
    background: #01172966;
}
.sidebar-user-flex {
    display: flex;
    padding: 10px  0.9em;
}
.sidebar-user-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    min-width: 50px;
    background-size: cover;
    background-position: center;
    background-image: url('../img/noUser.png');
}
.sidebar-user-info {
    margin-right: 12px;
    color: white;
    display: none;
}
.navbar-vertical.navbar-expand-md.fixed-left:hover .sidebar-user-info {
    display: block;
}
.sidebar-user-info h3 {
    margin-bottom: 0px;
    margin-top: 5px;
}

.sidebar-user-info p {
    margin-bottom: 0px;
    font-size: 11px;
    font-weight: 300;
    margin-top: 3px;
}
.list-group-item{
    font-weight: 500;
    font-size: 18px;
    color: #023D6D ;
}
.title-customer{
    font-weight: 500;
    font-size: 18px;
    color: #86A9DD;
}
.navbar-vertical.navbar-expand-md.fixed-left:hover{
    width: 277px;
}
/*
.mt-3{
    font-weight: 700;
    color: #011729;
}
.text-muted{
    font-weight: 500;
    font-size: 19px;
}
*/


/*main*/

.card-header > :first-child{
    color: #86A9DD;
}
.card-header{
    padding-top: 1.2rem;
    padding-bottom: 0.9rem;
    border:none;
}
.vs{
color: #011729;
font-weight: 700;
font-size: 24px;
padding: 0px 10px;
}

.mh-100 {
    min-height: 100%;
}
.urgent-actions .card-body{
    padding: 0.7rem;
}
.urgent-actions i{
    color: #86A9DD;
    margin-left: 9px;
}
.urgent-actions ul a {
    font-weight: 600;
    font-size: 14px;
    padding-right: 18px;
}

table.table-sm  th{
    border-top:none ;
    color: #011729;
    font-weight: 600;
    font-size: 12px;
}
.table tbody td p, .table tbody td h1, .table tbody td h2, .table tbody td h3, .table tbody td h4,.table tbody td h5, .table tbody td h6{
    margin: 0px !important;
    padding: 0PX !important;
    font-size: 0.8125rem !important;
}
.card-body.whitout-padding .table td{
    color: #86A9DD;
}

.card .card-footer{
    border-top: none;
}
.card .card-footer a{
    text-decoration: underline;
    color:#86A9DD;
}
.invoice-item.col-2.mb-4 i{
    color:#86A9DD;
}
.invoice-item.col-2.mb-4{
    margin-bottom: 0.9rem !important;
    font-weight: 700;
}
.invoice-item.col-2.mb-4 .invoice-total{
    color: #86A9DD;
    font-weight: 400;
}
.card-body-overview{
    padding: 0;
}
.row.text-center{
    padding: 20px 200px;
}
