html,
body {
  direction: rtl;
  text-align: right;
}

@media (min-width: 768px) {
  .navbar-vertical.navbar-expand-md.fixed-left {
    right: 0;
    left: unset;
  }

  .navbar-vertical.navbar-expand-md.fixed-left:not([style*="display: none"])
    ~ .main-content {
    margin-right: 250px;
    margin-left: 0px;
  }

  .navbar-vertical.navbar-expand-md .navbar-nav .nav-link {
    padding: 0.5rem 1.5rem;
  }

  .navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before {
    right: 0;
    left: auto;
  }

  .navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link {
    padding-right: 3.25rem;
    padding-left: 1.5rem;
  }

  .navbar-vertical.navbar-expand-md.fixed-left {
    border-width: 0 0 0 1px;
  }
}

.navbar-vertical .navbar-nav .nav-link[data-toggle="collapse"]:after {
  margin-right: auto;
  margin-left: 0px;
}

.navbar-nav {
  padding-right: 0px;
  padding-left: 0px;
}

.nav-tabs .nav-item:first-child {
  margin-left: 0.5rem;
}

.nav-tabs-sm .nav-item:last-child {
  margin-right: 0.5rem;
}

.mr-3,
.mx-3 {
  margin-left: 0.75rem !important;
  margin-right: 0px;
}

.navbar-vertical ul.flex-column {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-heading {
  font-size: 13px !important;
  font-weight: 500;
}

.nav-item {
  font-size: 1rem;
}

.mr-4,
.mx-4 {
  margin-left: 1.5rem !important;
  margin-right: 0 !important;
}

.input-group.input-group-merge > .input-group-prepend > .input-group-text {
  padding-left: 0.375rem;
  padding-right: 0;
}

.dropdown-menu {
  left: 0;
  right: unset;
}

.dropdown-menu-right {
  left: 0;
  right: auto;
}

.form-control:not(.custom-select) {
  padding-left: 0;
  padding-right: 0.75rem;
}

.mr-2,
.mx-2 {
  margin-left: 0.375rem !important;
  margin-right: 0 !important;
}

.table .text-muted::after {
  margin-right: 0.25rem;
  margin-left: 0;
}

.badge {
  padding-top: 6px;
}

.edit-td a {
  margin-left: 5px;
  margin-right: 0;
}

span.text-muted {
  font-size: 0.75rem;
}

.list-group-activity .list-group-item:not(:last-child)::before {
  right: 1.25rem;
  left: auto;
}

.dropdown-item {
  text-align: right;
}

.page-item:first-child .page,
.page-item:first-child .page-link {
  margin-right: 0;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-item:last-child .page,
.page-item:last-child .page-link {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.notes-container .list-group-item .delete-note {
  right: unset;
  left: 20px;
}

.alert-dismissible .close {
  right: auto;
  left: 0px;
}

.alert-dismissible {
  padding-right: 1.25rem;
  padding-left: 3.90625rem;
}

.alert-container .fas {
  margin-right: 0px;
  margin-left: 7px;
}

.list-unstyled {
  padding-right: 0px;
}

@media (min-width: 768px) {
  .navbar-vertical.navbar-expand-md .navbar-nav .nav .nav .nav-link {
    padding-right: 4rem;
    padding-left: 0;
  }
}

.custom-switch .custom-control-label {
  transform: rotateY(180deg) translateX(55px);
}

@media (min-width: 768px) {
  .text-md-right {
    text-align: left !important;
  }
}

.chart {
  direction: ltr !important;
  text-align: left;
  vertical-align: middle;
}

@media (min-width: 1200px) {
  .offset-xl-2 {
    margin-right: 16.66667%;
    margin-left: 0;
  }
}

.dropright .dropdown-menu {
  left: auto;
  right: 100%;
}

.dropright > .dropdown-toggle::after {
  transform: rotate(180deg);
}

.icon-ml {
  margin-left: 27px;
  margin-right: 0;
}

.ml25 {
  margin-left: 25px;
  margin-right: 0;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
  margin-right: 0px !important;
}

.text-right.edit-td {
  text-align: right !important;
}

.icon-input > span {
  border-radius: 0px 0.375rem 0.375rem 0px;
}

.icon-input .form-control {
  border-radius: 0.375rem 0 0 0.375rem;
}

.add-input span {
  border-radius: 0.375rem 0px 0px 0.375rem;
}

.custom-switch.small-switch .custom-control-label::before {
  height: 1.1rem;
  width: 2.2rem;
}

.custom-switch.small-switch .custom-control-label::after {
  width: 0.8rem;
  height: 0.8rem;
  top: 0.1575rem;
}

.custom-switch.small-switch
  .custom-control-input:checked
  ~ .custom-control-label::after {
  transform: translateX(1.08rem);
}

.custom-switch {
  padding-right: 0;
  padding-left: 3.5rem;
}

.custom-control-label {
  transform: none;
}

.inp-border {
  border-right: 1px solid #edf2f9;
  padding-right: 16px;
  border-left: 0;
  padding-left: 0;
}

.filter-input {
  border: none !important;
  border-right: 1px solid #d2ddec !important;
}

.mult-with-add button {
  border-radius: 0.375rem 0 0 0.375rem;
  padding: 0px 20px;
}

.mult-with-add .multiselect__tags {
  border-radius: 0 0.375rem 0.375rem 0;
}

.col-auto .btn {
  margin-left: 0;
  margin-right: 5px;
}

.ctions-container .btn {
  margin-left: 5px;
  margin-right: 0;
}
.datepicker-container
  .datepicker-days
  .datepicker-day.between.first
  .datepicker-day-effect[data-v-7043ad7f] {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.datepicker-container
  .datepicker-days
  .datepicker-day.between.last
  .datepicker-day-effect[data-v-7043ad7f] {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.header-picker[data-v-6d49f11d] {
  padding: 10px !important;
}
.quillWrapper {
  direction: ltr !important;
}

.ml-3, .mx-3 {
  margin-right: 0.75rem !important;
  margin-left: 0 !important;
}