body {
    background: #F3F5F8;
}
.badge{
    position: relative;
    border-radius: 20px;
    width: auto;
    height: 25px;
    padding: 5px 20px 5px 8px;
}
.badge::before{
    content: "";
    height: 6px;
    width: 6px;
    background: black;
    border-radius: 20px;
    display: block;
    position: absolute;
    top: 10px;
    right: 8px;
}

.badge-dark{
    color: #455A64;
    background-color: #F4F4F5;
}

.badge-dark::before{
    background: #455A64 ;
}

.badge-primary{
    color: #023D6D;
    background-color: #E6EFFC;
}

.badge-primary::before{
    background: #023D6D ;
}

.badge-success{
    color: #16BF5A;
    background-color: #F1FFF7;
}

.badge-success::before{
    background: #16BF5A ;
}

.badge-danger{
    color: #C61515;
    background-color: #F8E3E3;
}

.badge-danger::before{
    background: #C61515 ;
}


.index-table .d-flex{
    align-items: center;
    margin-bottom: 15px;
    height: 40px;
}

.index-table .card-header{
    background: white;
    height: 40px;
    border-radius: 0.5rem;
    border-bottom: none;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.index-table .filter-input{
    height: 100%;
    border-radius: 0.5rem;
    border: none !important;
    margin-right: 20px;
    padding: 0px 10px;
    background: white;
    width: 130px;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.index-table .filter-input .form-control{
    height: 40px;
    border: none;
    box-sizing: border-box;
}

.index-table .btn.add-btn{
    height: 40px;
    border-radius: 0.5rem;
    width: 40px;
    font-size: 24px;
    padding: 3px;
    margin-right: 10px;
    background: white;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}
.index-table .btn.add-btn i{
    font-weight: 100;
}
.table thead th {
    background: transparent;
}
.table thead th .text-muted {
    color: #011729 !important;
    font-weight: 700;
    font-size: 14px;
}

.table tbody td, .table tbody th, .table thead th {
    text-align: center;
}

.pos-sidebar-btn {
    border: none;
    margin: 7px;
    padding: 4px 19px 4px 18px;
    border-radius: 7px;
    background-color: #E6EFFC80;
    font-weight: bold;
}
.pos-sidebar-options-btn {
    border: none;
    margin: 4px;
    padding: 5px 9px 5px 9px;
    border-radius: 7px;
    font-size: 14px;
    background-color: #E6EFFC80;
}

.pos-sidebar-title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 19px;
}
.pos-main-btn {
    background: transparent;
    color: #fff;
}
.pos-main-btn:hover {
    background: transparent;
    color: #fff;
}

.container-fluid .row.pos-buttons-container{

    display: block;
    width: 110px;
    margin-left: 0;
    position: fixed;
    z-index: 9;
    top: 50px;
    right: 0px;
    background: linear-gradient(#01182b , #033e6f);
    text-align: center;
    padding-right: 14px;
    min-height: calc(100% - 50px);
    padding-top: 15px;
}

.container-fluid .row.pos-buttons-container .col-md.col-4.mb-3{
    margin-bottom: 0 !important ;
  
}

.container-fluid .row.pos-buttons-container .col-md.col-4.mb-3 a{
    border-radius: 0;
    padding-bottom: 25px;
    background: transparent;
    border-color: transparent;

}

.container-fluid .row.pos-buttons-container .col-md.col-4.mb-3 button{
    border-radius: 0;
    padding-bottom: 25px;
    background: transparent;
    border-color: transparent;

}

.container-fluid .mt-3.pos-items-container {
    width: 59%;
    margin-right: 90px ;
    margin-top: 30px !important;
}

.casher-section {
    display: flex;
    background: white;
    margin-left: 15px;
    padding: 5px !important;
    border-radius: 6px;
    margin-bottom: 10px;
}

.casher-section-image{
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
}

.casher-section-name{
    margin-right: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 500;
}


.pos-sidebar-item{
    background: rgba(230, 239, 252, 0.5);
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}
.item-sup-items {
    width: 50%;
}
.item-quantity {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-quantity-inner {
    padding: 0px 6px;
    font-weight: bold;
    font-size: 17px;
}
.item-controls{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.item-quantity .btn {
    height: 30px !important;
    width: 30px !important;
    border-radius: 20px;
    padding: 4px;
    display: inline-block;
    background: #FFFFFF !important;
    font-size: small;
}
.item-controls-btn {
    display: inline-block;
    background: rgba(134, 169, 221, 0.21);
    box-shadow: 0px 4px 10px rgb(230 239 252 / 59%);
    border-radius: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0px;
}
.pos-filter-btn {
    margin-right: 7px;
    background: #fff;
}
.item-title{
    font-weight: bold;
}


.pos-sidebar-empty-table{
    border-radius: 10px;
    margin-bottom: 1em;
    height: 65px;
    background: rgba(230, 239, 252, 0.5);
    text-align: center;
    padding-top: 18px;
    font-weight: bold;
    font-size: 18px;
}
.products-contaner {
    margin-top: 10px;
}

.casher-section.active{
    background: #E6EFFC;
    
}

.casher-product{
    border-bottom: none;
}

.casher-product-name{
    text-align: right;
    padding-right: 10px;
}


.casher-product-price{
    position: relative;
    bottom: unset;
    background: transparent;
    color: #4e82cf;
    font-size: 13px;
    padding: 4px 10px;
}

.casher-product-image .dummy {
    margin-top: 60%;
}

.modal-card .card-header-title{
    padding-top: 50px;
    color: #000000;
    font-weight: 700;
    font-size: 24px;
}

.modal-card .form-control{
    background: rgba(230, 239, 252, 0.3);
    border: none;
    padding-right: 20px !important;
}

.modal-card .card-body{
    padding: 30px 40px;
}
.pos-sidebar-data-title{
    font-weight: 500;
    max-width: 50%;
}

.pos-sidebar-data-body{
    font-weight: bold;
}


.modal-card .card-header{
    border-bottom: none;
    padding: 0 40px;
}

.modal-card .card-footer{
    border-top: none;
    padding: 0;
    padding-bottom: 25px;
}


.modal-card .card-body .col-sm-12{
    color: #011729;
    font-weight: 700;
    font-size: 16px;
}
.pos-sidebar-data{
    display: flex;
    justify-content: space-between;
    margin: 17px;
}

.pos-sidebar-data-body select, .pos-sidebar-data-body input {
    border: none;
    color: #86A9DD;
    text-align: left;
    max-width: 100%;
    font-weight: 500;
}
.pos-sidebar-data-body select:focus-visible , .pos-sidebar-data-body input:focus-visible, .pos-sidebar-data-title input  {
    border: none;
    outline: none;
}

.pos-sidebar-data-title input {
    max-width: 100%;
    font-weight: 500;
    color: #12263f;
    border: none;
}

@media (min-width: 768px) {
    .pos-main-btn i {
        font-size: 20px;
    }
}

.pos-notes-lable{
    font-weight: bold;
    margin-right: 15px;
}

.pos-notes-input {
    background: rgba(230, 239, 252, 0.33);
    border: none;
    border-radius: 6px;
    width: 85%;
    margin-right: 15%;
}

.pos-side-checkout{
    background: #011729;
    width: 59%;
    margin-top: 16px;
}

.pos-side-print{
    border: none;
    width: 34%;
    margin-right: 21px;
    margin-top: 16px;
}

.pos-sidebar-data-total{
    font-weight: bold;
    max-width: 50%;
    color: #D74848;
}

.pos-sidebar-card {
    overflow: hidden;
}
.sections-container {
    display: flex;
    flex-wrap: wrap;
}
.casher-product {
    padding: 5px;
}
.casher-product-name {
    padding-right: 0;
}
.dropdown-item i {
    width: 20px;
}
.table-btn {
    height: 100%; 
}
.table-btn button{
    min-height: 100%;
}
.modal-content .btn-empty, .modal-content .btn-money{
    background: #E6EFFC;
    border-radius: 6px;
}

.modal-content .table-img{
    width: 30px;

}

.modal-content .col-md-2.col-6.mb-3 .table-name{ 
    text-align: right;
    top: -25px;
    padding-right: 9px;
    font-weight: 600;
    font-size: 20px;
    color: #86A9DD;
    position: absolute;

}

.modal-content .table-name span{
    font-size: 10px;
}

.modal-content .col-md-2.col-6.mb-3 p{
    font-weight: 700;
    color: #011729;
    margin-top: 30px;
    margin-bottom: 30px;
}


.modal-content .col-md-2.col-6.mb-3 .btn-pepole{
    border: 1px dashed #86A9DD;
    border-radius: 6px;
}

.table-edit-btn {
    background: #ffffff00;
    color: #000000;
    top: unset;
    bottom: 0;
    left: unset;
    right: 12px;
}

.table-edit-btn-right{
    background: #ffffff00;
    color: #000000;
    top: unset;
    bottom: 0;
    right: unset;
    left: 12px;
}

.table-edit-btn-right-buttom{
    background: #ffffff00;
    right: 57px;
    color: #000000;
}

.products-contaner .empty-table{
    background: white;
    color: #000000;
    padding: 50px !important;
    border-radius: 10px;
}

.products-contaner .empty-table img{
    width: 40%;
}

.products-contaner .empty-table p{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}
@media (max-width: 770PX) {
    .container-fluid .row.pos-buttons-container {
        display: flex;
        width: 100%;
        min-height: 40px;
        left: 0px;
        position: relative;
        top: 0px;
        background: transparent;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 10px auto;
        padding: 0px;
    }
    .container-fluid .row.pos-buttons-container .ps-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .container-fluid .mt-3.pos-items-container {
        width: 100%;
        margin-right: 0px;
    }
    .main-content {
        overflow: hidden;
    }
    .pos-main-btn {
        background: #011729;
        width: 47%;
        color: #fff;
        margin-bottom: 10px;
    }
    .pos-main-btn:hover {
        background: #011729;
    }
    .container-fluid .mt-3.pos-items-container {
        margin-top: -18px !important;
    }
    .sort-popup {
        margin-top: -10px;
    }
}

.casher-product-image .image{
    background-color: #E6EFFC4D;
}
.casher-product-image .image.noImage{
    background-size: 40%;
}
.delivery-container {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: 1px solid #f1f3f6;
}
.delivery-container .delivary-item .title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
}

.delivery-container .delivary-item .text {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 4px;
}
.returned-btn {
    height: 40px;
}
.pos-sidebar-empty-table.delivary-empty {
    background: rgb(255 255 255);
}
.popuploader {
    text-align: center;
    font-size: 60px;
    padding: 30px auto;
}
.show-ifrane {
    width: 100%;
    min-height: 500px;
}

.pos-btn-size{
    border-radius: 6px;
    font-size: 13px;
    color: #3e6092;
    background: white;
    border: 1px solid #E6EFFC;
    font-weight: 900;
    font-size: 14px;
    padding: 3px 10px;
    margin-left: 4px;
}

.pos-btn-size:hover{
    background: #E6EFFC;
}
.pos-sidebar-data-body .d-flex input {
    max-width: 93%;
}
.shipping0{
    margin-left: 25px;
}

@media (max-width: 768px) {
    .main-content{
        padding-top:0;
    }
}

@media (max-width: 1115px) {
    .container-fluid .mt-3.pos-items-container {
        width: 64.5%;
        margin-right: 57px;
    }    
    .pos-sidebar-card {
        font-size: 12px;
    }
    .shipping0{
        margin-left: 10px;
    }
    .pos-sidebar-empty-table {
        height: 50px;
        padding-top: 15px;
        font-size: 16px;
    }
    .pos-sidebar-options-btn {
        font-size: 11px;
    }
    .pos-sidebar-title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .pos-sidebar-card {
        width: 29%;
    }
    .pos-main-btn {
        font-size: 13px;
    }
    .container-fluid .row.pos-buttons-container {
        width: 90px;
    }
    .casher-section-name {
        font-size: 12px;
    }
    .casher-section-image {
        height: 20px;
        width: 20px;
    }
}


.users-container {
    display: flex;
    justify-content: space-between;
}
.old-user-container {
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.5rem;
    width: 31%;
    position: relative;
    cursor: pointer;

}
.old-user-img {
    position: relative;
}
.old-user-img .dummy {
    margin-top: 75%;
}
.old-user-img .image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E6EFFC4D;
    display: block;
    margin: 0px auto;
    text-align: center;
    font-size: 50px;
    color: #8e8c8c;
    background-image: url("../img/noUser.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.old-user-name {
    font-weight: 500;
    padding: 5px 0px;
}
.old-user-remove {
    position: absolute;
    background: #0000006b;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    color: white;
    top: 8px;
    right: 8px;
    text-align: center;
    z-index: 99;
}
.cash-form .modal-card .card-body {
    min-height: 300px;
}

@media (max-width: 1000px) {
    .container-fluid .mt-3.pos-items-container {
        width: 63.5%;
        margin-right: 6%;
    }
    .products-contaner .empty-table p {
        font-size: 22px;
    }
}
@media (max-width: 875px) {
    .container-fluid .mt-3.pos-items-container {
        width: 63.5%;
        margin-right: 7%;
    }
    .products-contaner .empty-table p {
        font-size: 19px;
    }
}
.item-out-quantity {
    width: 100%;
}

.item-out-quantity .btn-light{
    background: #E6EFFC !important;
    width: 20px !important;
    height: 20px !important;
    font-size: 11px;
    line-height: 3px;
}
@media (max-width: 770px) {
    .container-fluid .row.pos-buttons-container {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .container-fluid .ps-container {
        width: 100%;
    }
    .pos-sidebar-card {
        width: 100%;
        position: relative;
        left: 0px;
        margin-top: 20px;
    }
    .container-fluid .mt-3.pos-items-container {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
}
.table-responsive .dropdown{
    text-align: center;
    font-size: 22px;
}
.casher-product .price-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.item-out-quantity {
    justify-content: left;
    padding-left: 5px;
}
.pos-btn-size.active {
    background: #E6EFFC;
    color: #011729;
}
.pos-btn-size-container {
    margin-top: 10px;
}

.casher-section-icon{
    background: #E6EFFC;
    border-radius: 6px;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    padding: 0px;
}
.casher-section-icon img {
    padding: 3px;
    width: 25px;
    margin: auto 2.5px;
    margin-top: 2px;
}

.no-casher-img{
    filter: grayscale(1);
}
.dropdown-item {
    color: #86A9DD;
    font-weight: 500;
}

.dropdown-item i {
    color: #011729;
    font-weight: bold;
}
/*
.table-responsive {
    overflow: inherit;
}
*/
.table-responsive .dropdown {
    position: unset;
}
.index-table .card {
    position: unset; 
}
.dropdown-menu.show {
    left: 20px;
    top: 0px;
    width: 200px;
    min-width: 200px;
}
.shipping-table .col-lg-9 {
    position: unset;
}
.pos-sidebar-data-body select[disabled] {
    background-color: white;
    color: #12263f;
    -webkit-appearance: none;
     appearance: none !important;
    
}
.table tfoot td, .table tfoot th {
    text-align: center;
}
.col-225 {
    flex: 0 0 14%;
    max-width: 14%;
    padding-right: 12px;
    padding-left: 12px;
}
@media  (max-width:1326px) and (min-width:0px) {
    .casher-product .price-container {
        display: block;
    }

    .item-out-quantity {
        justify-content: stretch;
        padding-right: 5px;
    }
}